@import '../../../../scss/values.scss';
:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    .page-container{
      width: 100%;
      padding: $small-indent;

      .form-container{
        width: 300px;
      }

      .buttons-container{
        padding: $small-indent 0;
      }

      .table-container{
        width: 100%;

      }
    }

}
