.demo-app {
  .mat-row,
  .mat-header-row,
  .mat-footer-row {
    border-bottom: $light-border;
    @media print {
      border-color: $print-form-border-color;
    }
  }

  .mat-header-cell {
    white-space: nowrap;
    text-align: center;
    flex-direction: column;
    font-size: 16px;
    padding: $small-indent;
    border-top: $light-border;
    border-right: $light-border;
    align-self: stretch;
    align-items: flex-start;
    justify-content: center;

    &.no-search {
      align-items: center;
    }

    @media print {
      align-items: center;
    }

    &:first-child {
      border-left: $light-border;

      @media print {
        border-color: $print-form-border-color;
      }
    }

    input {
      margin: $small-indent 0;
      width: 100%;
    }
    @media print {
      border-color: $print-form-border-color;
    }
  }

  .mat-cell {
    padding: 0 $small-indent;
    border-right: $light-border;
    align-self: stretch;
    &:first-child {
      border-left: $light-border;

      @media print {
        border-color: $print-form-border-color;
      }
    }

    @media print {
      border-color: $print-form-border-color;
    }
  }

  .mat-paginator {
    @media print {
      display: none;
    }
    .mat-paginator-page-size-select {
      width: 50px;
    }
  }
}
