@import '../../../../scss/values';

:host{
  padding: 0 $small-indent;
}

.menu-container{
  padding: $small-indent;

  border-bottom: $light-border;

  .mat-icon-button{
    border: $light-border;
    border-radius: 2px;
  }
}
